<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Adicionar Commecer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Cadastrar Commerce</h1>
            <form method="POST" action="/commerce">
                <label>Cnpj</label>
                <input type="text" value="" name="cnpj"><br>
                
                <label>Nome</label>
                <input type="text" value="" name="nome"><br>
                
                <label>Rua</label>
                <input type="text" value="" name="rua"><br>
                
                <label>Numero</label>
                <input type="number" value="" name="numero"><br>
                
                <label>Bairro</label>
                <input type="text" value="" name="bairro"><br>
                
                <label>Cidade</label>
                <input type="text" value="" name="cidade"><br> 
                
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>
