<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Produtos</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Desconto</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.codigo}"></td>
                        <td th:text="${product.desconto}"></td>
                        <td th:text="${product.nome}"></td>
                        <td th:text="${product.preco}"></td>
                        <td th:text="${product.tp}"></td>
                        <!--<td><a th:href="@{'/product/formProduct/' + ${commerce.id}}">Insert Products</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
